<div class="productSelected">
    <div class="product">
        <div class="image"></div>
        <div class="payment">
            <div class="quantity">
                <p>vendido</p>
            </div>
            <div class="title">
                <p></p>
            </div>
            <div class="price">
                <p>$20</p>
            </div>
            <div class="btn">
                Comprar
            </div>
        </div>
    </div>
    <div class="description">
        <div class="title">
            <p>Descripcion</p>
        </div>
        <div class="details">
            <p>Aca va la descripcion del producto que seguramente sea muuuuuy larga</p>
        </div>
    </div>
</div>