<html ng-app="testML">
    <head>
        <base href="/">
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
        <link rel="stylesheet" type="text/css" href="testML/sass/style.scss">
        <title>Flavio MP</title>
    </head>
    <body>
        <div class="nav-header">
            <div class="div-busqueda">
                <form class="form-search" ng-controller="MainController">
                    <div class="nav-logo"></div>
                    <input type="text" class="input-search" id="search" name="search" max-length="50" 
                        placeholder="Buscar productos..." ng-model="descripcion" ng-required="true">
                    <button class="btn-search" ng-click="buscar()">
                        <i class="material-icons">search</i>
                    </button>
                </form>
            </div>
        </div>
        
        <div ng-view></div>
        
        <!--Angular.js Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-route.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-resource.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-sanitize.min.js"></script>
        
        <!-- Configuracion de la aplicación angular -->
        <script src="testML/app/app.js"></script>
        <script src="testML/app/services/servidor.js"></script>
        <script src="testML/app/controllers/mainController.js"></script>
        <script src="testML/app/controllers/busquedaController.js"></script>
        <script src="testML/app/controllers/detalleController.js"></script>
    </body>
</html>